.sprite{
  display: inline-block;
  background-image: embedurl('img/sprite.png');
  background-repeat: no-repeat;
}


.logo-rapid-chat {
  background-position: 0px -248px;
  width: 213px;
  height: 36px; }
  

.round-question_answer {
  background-position: -372px -68px;
  width: 36px;
  height: 36px; }
  

.sticker-hi {
  background-position: -124px 0px;
  width: 120px;
  height: 120px; }
  

.sticker-lol {
  background-position: 0px -124px;
  width: 120px;
  height: 120px; }
  

.sticker-no {
  background-position: -124px -124px;
  width: 120px;
  height: 120px; }
  

.sticker-ok {
  background-position: -248px 0px;
  width: 120px;
  height: 120px; }
  

.sticker-thx {
  background-position: -248px -124px;
  width: 120px;
  height: 120px; }
  

.sticker-wtf {
  background-position: 0px 0px;
  width: 120px;
  height: 120px; }
  

.thumbnail-1 {
  background-position: 0px -288px;
  width: 64px;
  height: 64px; }
  

.thumbnail-2 {
  background-position: -68px -288px;
  width: 64px;
  height: 64px; }
  

.thumbnail-3 {
  background-position: -136px -288px;
  width: 64px;
  height: 64px; }
  

.thumbnail-4 {
  background-position: -204px -288px;
  width: 64px;
  height: 64px; }
  

.thumbnail-5 {
  background-position: -272px -288px;
  width: 64px;
  height: 64px; }
  

.thumbnail-6 {
  background-position: -372px 0px;
  width: 64px;
  height: 64px; }
  
