.sprite
  display inline-block
  background-image embedurl('img/sprite.png')
  background-repeat no-repeat
  &.autosize
    width 100%
    height auto
    &:before
      content ''
      display block

.logo-rapid-chat
  background-position 0px -248px
  width 213px
  height 36px
  &.autosize
    background-position 0% 78.48101265822784%
    background-size 204.69483568075114% auto
    &:before
      padding-top 16.901408450704224%
.round-question_answer
  background-position -372px -68px
  width 36px
  height 36px
  &.autosize
    background-position 93% 21.518987341772153%
    background-size 1211.111111111111% auto
    &:before
      padding-top 100%
.sticker-hi
  background-position -124px 0px
  width 120px
  height 120px
  &.autosize
    background-position 39.24050632911392% 0%
    background-size 363.3333333333333% auto
    &:before
      padding-top 100%
.sticker-lol
  background-position 0px -124px
  width 120px
  height 120px
  &.autosize
    background-position 0% 53.44827586206896%
    background-size 363.3333333333333% auto
    &:before
      padding-top 100%
.sticker-no
  background-position -124px -124px
  width 120px
  height 120px
  &.autosize
    background-position 39.24050632911392% 53.44827586206896%
    background-size 363.3333333333333% auto
    &:before
      padding-top 100%
.sticker-ok
  background-position -248px 0px
  width 120px
  height 120px
  &.autosize
    background-position 78.48101265822784% 0%
    background-size 363.3333333333333% auto
    &:before
      padding-top 100%
.sticker-thx
  background-position -248px -124px
  width 120px
  height 120px
  &.autosize
    background-position 78.48101265822784% 53.44827586206896%
    background-size 363.3333333333333% auto
    &:before
      padding-top 100%
.sticker-wtf
  background-position 0px 0px
  width 120px
  height 120px
  &.autosize
    background-position 0% 0%
    background-size 363.3333333333333% auto
    &:before
      padding-top 100%
.thumbnail-1
  background-position 0px -288px
  width 64px
  height 64px
  &.autosize
    background-position 0% 100%
    background-size 681.25% auto
    &:before
      padding-top 100%
.thumbnail-2
  background-position -68px -288px
  width 64px
  height 64px
  &.autosize
    background-position 18.27956989247312% 100%
    background-size 681.25% auto
    &:before
      padding-top 100%
.thumbnail-3
  background-position -136px -288px
  width 64px
  height 64px
  &.autosize
    background-position 36.55913978494624% 100%
    background-size 681.25% auto
    &:before
      padding-top 100%
.thumbnail-4
  background-position -204px -288px
  width 64px
  height 64px
  &.autosize
    background-position 54.83870967741935% 100%
    background-size 681.25% auto
    &:before
      padding-top 100%
.thumbnail-5
  background-position -272px -288px
  width 64px
  height 64px
  &.autosize
    background-position 73.11827956989248% 100%
    background-size 681.25% auto
    &:before
      padding-top 100%
.thumbnail-6
  background-position -372px 0px
  width 64px
  height 64px
  &.autosize
    background-position 100% 0%
    background-size 681.25% auto
    &:before
      padding-top 100%
