.sprite {
  display: inline-block;
  background-image: embedurl('img/sprite.png');
  background-repeat: no-repeat; }

.bg-pattern-unit {
  background-position: -372px -318px;
  width: 36px;
  height: 36px; }

.ic-2 {
  background-position: -257px -248px;
  width: 32px;
  height: 32px; }

.ic-3 {
  background-position: -34px -364px;
  width: 30px;
  height: 30px; }

.ic-4 {
  background-position: -329px -248px;
  width: 30px;
  height: 32px; }

.ic-arrow {
  background-position: -68px -364px;
  width: 28px;
  height: 28px; }

.ic-close {
  background-position: -293px -248px;
  width: 32px;
  height: 32px; }

.ic-dog {
  background-position: -77px -288px;
  width: 72px;
  height: 72px; }

.ic-file {
  background-position: -372px -204px;
  width: 50px;
  height: 58px; }

.ic-heart {
  background-position: 0px -364px;
  width: 30px;
  height: 30px; }

.ic-nickname {
  background-position: 0px -288px;
  width: 73px;
  height: 72px; }

.ic_1 {
  background-position: 0px -398px;
  width: 26px;
  height: 34px; }

.ic_cancel_48px {
  background-position: -100px -364px;
  width: 24px;
  height: 24px; }

.ic_description_48px {
  background-position: -372px -266px;
  width: 48px;
  height: 48px; }

.ic_favorite_48px {
  background-position: -412px -318px;
  width: 24px;
  height: 24px; }

.ic_search_24px {
  background-position: -128px -364px;
  width: 24px;
  height: 24px; }

.logo-rapid-chat {
  background-position: 0px -248px;
  width: 213px;
  height: 36px; }

.round-question_answer {
  background-position: -217px -248px;
  width: 36px;
  height: 36px; }

.sticker-hi {
  background-position: -124px 0px;
  width: 120px;
  height: 120px; }

.sticker-lol {
  background-position: 0px 0px;
  width: 120px;
  height: 120px; }

.sticker-no {
  background-position: 0px -124px;
  width: 120px;
  height: 120px; }

.sticker-ok {
  background-position: -124px -124px;
  width: 120px;
  height: 120px; }

.sticker-thx {
  background-position: -248px 0px;
  width: 120px;
  height: 120px; }

.sticker-wtf {
  background-position: -248px -124px;
  width: 120px;
  height: 120px; }

.thumbnail-1 {
  background-position: -221px -288px;
  width: 64px;
  height: 64px; }

.thumbnail-2 {
  background-position: -289px -288px;
  width: 64px;
  height: 64px; }

.thumbnail-3 {
  background-position: -372px 0px;
  width: 64px;
  height: 64px; }

.thumbnail-4 {
  background-position: -372px -68px;
  width: 64px;
  height: 64px; }

.thumbnail-5 {
  background-position: -153px -288px;
  width: 64px;
  height: 64px; }

.thumbnail-6 {
  background-position: -372px -136px;
  width: 64px;
  height: 64px; }
