/*
author milkmidi
version 1.1.1
*/
defaultTransition(property = all, duration = 0.35s)
  transition property duration cubic-bezier(0.215, 0.61, 0.355, 1)

convertUnit(val)
  return unit(val) == '' ? unit(val, 'px') : val
  
scrollbar(size = 12px, thumbColor = black, trackColor = white)
  size = convertUnit(size)
  &::-webkit-scrollbar
    width size
    height size
  &::-webkit-scrollbar-thumb
    background thumbColor
    &:hover
      background lighten(thumbColor, 10%)
  &::-webkit-scrollbar-corner
  &::-webkit-scrollbar-track
    background trackColor

trangle(color)
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17.3px 10px 0 10px;
  border-color: color transparent transparent transparent;

shim(w, h)
  &:before
    content ''
    display block
    width 100%
    padding-top unit(h / w * 100, '%')