@keyframes donutSpin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)

@keyframes scaleRotateIn
  0%
    transform rotate(10deg) scale(0)
  50%
    transform rotate(45deg) scale(1.8)
  100%
    transform rotate(0) scale(1)

@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1

@keyframes fadeOut
  0%
    opacity 1
  100%
    opacity 0